html
{
	scroll-behavior: smooth;
}
.spacer
{
	display: none;
}
header
{
	text-align: center;
	display: block;
	background-color: yellow;
	border-bottom: 2px solid red; 
}
#logo
{

	display: inline-block;
	width: 180px;
	animation: rotate 8s infinite;
}
@-webkit-keyframes rotate
{
	0%{transform: rotate(90deg);}
	
	100%{transform: rotate(360deg);}
}
.title
{
	display: inline;
	font-size: 50px;
	color: red;
}
#title
{
	text-align: left;
}
.nav-item
{
	font-size: 25px;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid red;

}
.nav-link
{
	color: red;
	background-color: orange;

}

.navbar
{
	
	padding-left: 5%; 
	background-color: yellow;
	

}
.nav-link:hover
{
	border: 3px solid orange;
	color: orange;
	background-color: red;
	display: block;
}
#footer
{
	margin-left: 43%;
	display: block;
}
#doubt
{
	
	margin-left: 3%;
	text-align: center;
	animation: blinkingtext 2s linear infinite;
	font-size: 35px;
}
@-webkit-keyframes blinkingtext
{
	0%{color: orange;}
	25%{color: green;}
	50%{color: yellow;}
	75%{color: red;}
	100%{color:orange;}
}
input
{  
	border-radius: 10px;
	border: 3px solid grey; 
	padding: 8px;}
form
{
	width: 145px;
}
#socialmedia
{
	background-color: #fcd303;
	padding: 45px;
}
#facebook, #youtube, #instagram, #phone, #email
{
	padding: 5px;
	font-size: 25px;
}
#facebook:hover, #youtube:hover, #instagram:hover, #phone:hover, #email:hover
{
	text-decoration: none;
}
#contact
{
	background-color: #fc7f03;

	padding: 25px;
}
#cimg
{
	width: 500px;
	display: inline;
	margin-left: 4%; 
}
#phone, #email
{
	display: inline;
}
#al1
{
	margin-left: 56%;
}
#con
{
	color: black;
	animation: blinking 1s linear infinite;
}
@-webkit-keyframes blinking
{
	0%{opacity: 1;}
	50%{opacity: 0;}
	100%{opacity: 1;}
}
#p1
{
	animation: bltxt 2s linear infinite;
	font-size: 25px;
}
@-webkit-keyframes bltxt
{
	0%{color: green;
		opacity: 1;
		}
	25%{color: red;
		opacity: 1;
	}
	50%{color: grey;
	opacity: 1;
}
	100%{color: orange;
		opacity: 1;
}	
}
#p2
{
	animation: blitxt 2s linear infinite;
	font-size: 25px;
}
@-webkit-keyframes blitxt
{
	0%{color: green;
		opacity: 1
		
	}
	25%{color: red;
		opacity: 1;
		}
	50%{color: grey;
	opacity: 1;
}
	100%{color: orange;
		opacity: 1;
		}	
}
.carousel-item
{
	padding: 3% 15%;
	height: 45%;
}
#gallery
{
	text-align: center;
	background-color: orange;
}

#about
{
	text-align: center;
	background-color: orange;
	color: red;
}
summary
{
	border: 2px solid orange;
}
img
{
	border-radius: 50px;
}
details
{
	font-size: 25px;
}
#togivebgcolor
{
	background-color: #598ee3;
}
body
{
	background-color: #598ee3;
}
#backtotop
{
	margin-left: 80%;
	margin-right: 5%;
	margin-top: 5px;
	font-size: 25px;
	color: green;
	background-color: yellow;
}
#lastlink:hover
{
	text-decoration: none;
}